<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            // variável para controlar o contexto do diálogo
            var context = '{}';
            function enviarMensagem() {
                // recupera mensagem digitada pelo usuário e exibe na tela
                var texto = document.chatForm.texto.value;
                chat = document.getElementById('chat');
                chat.innerHTML += texto + "<br>";
                // cria objeto para envio para a API
                var input = {
                    text: texto,
                    context
                };
                // post para o serviço criado
                $.ajax({
                    url: 'watsonAssistant',
                    type: 'post',
                    data: input,
                    // tratamento de erro do post
                    error: function (dados) {
                        alert('Erro1: ' + dados.data);
                    },
                    // tratamento de sucesso de processamento do post
                    success: function (dados) {
                        // se ocorreu algum erro no processamento da API
                        if (dados.status === 'ERRO')
                            alert('Erro2: ' + dados.data);
                        // caso os dados tenham retornado com sucesso
                        else{
                            // exibe retorno da API e recupera o contexto para o próximo diálogo
                            chat.innerHTML += dados.data.output.text + "<br>";
                            context = JSON.stringify(dados.data.context);
                        }
                    }
                });
            }
        </script>
    </head> 
    <body>
        <div class="textos">
            <h1><%= title %></h1>
            <p> Conheça nosso Chatbot desenvolvido para sanar suas dúvidas sobre a PUCCAMP!</p>
        </div>
        
        <div class="box">
            <div id="chat"></div>
            <form id="envio" name="chatForm" method="post">
                <input  id="caixa" type="text" name="texto" value="Digite algo..." onfocus="this.value=''"/>
                <input id="botao" type="button" onClick="enviarMensagem();" value="Enviar">
            </form>
        </div>
    </body> 
</html>